*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}
html{
    height: 100%;
}
#pag1{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    min-height:100%;
    background-image: url(../ImagenesSVG/Home.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Home{
    width: 100%;
    height: 100%;    
    text-align: center;
    margin-top: 20%;
}
#indexFondo{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: auto;
}
header{
    overflow: auto;
}
#login{
    float: right;
    margin-right: 2em;
}
h1{
    color:rgb(0, 38, 77);
    text-shadow: -6px 3px 2px #fff;
    font-size: 40px;
}
#botonIndex{
  margin-top: 2em;
  position: relative;
  display: inline-block;
  width: 100px;
  background-color: rgb(0,138,230);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  border-radius: 5px;
  padding: .5em;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#botonIndex::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#botonIndex:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  cursor: pointer;
  background-color: rgb(38, 77, 115);
}

#botonIndex:hover::after {
    opacity: 1;
}
#botonIndex >a{
    color: white;
    text-decoration: none;
}
footer{
  overflow: auto;
    position: absolute;
    width: 100%;
    bottom: 0;    
}
#logoUnlu{
    background-image: url(../ImagenesSVG/LogoUnlu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 6em;
    height: 6em;
    float: right;
    margin: .5em;
}
@media screen and (max-width: 767px){
    h1{
        font-size: 30px;
    }
    #logoUnlu{
        width: 60px;
        height: 60px;
    }
}