*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}
body{
    position: relative;
}
#lienzo{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: inherit;
    background-color: transparent;
    overflow: hidden;
}
#canvas{
    width: auto;
    position: absolute;
    z-index: 130;
}
.canvasOculto{
    bottom: -42em;
    -webkit-animation-name: canvasOcultar;
    -webkit-animation-duration: 2s;
    animation-name: canvasOcultar;
    animation-duration: 2s;
}
@-webkit-keyframes canvasOcultar {
  0%   {bottom:0;}
  100% {bottom:-42em;display: none;}
}
@keyframes canvasOcultar {
   0%   {bottom:0;}
  100% {bottom:-42em;display: none;}
}
.canvasVisible{ 
  bottom: 0;    
  -webkit-animation-name: canvasMostrar;
  -webkit-animation-duration: 1s;
  animation-name: canvasMostrar;
  animation-duration: 1s;
}
@-webkit-keyframes canvasMostrar {
  0%   {bottom:-42em;}
  100% {bottom:0;}
}
@keyframes canvasMostrar {
  0%   {bottom:-42em;}
  100% {bottom:0;}
}


#cascada{
    width: 100%;
    height: 100%;
    position: inherit;
    z-index: 120;
}
.cascadaOculto{
    bottom: -42em;
    -webkit-animation-name: cascadaOcultar;
    -webkit-animation-duration: 1s;
    animation-name: cascadaOcultar;
    animation-duration: 1s;
}
@-webkit-keyframes cascadaOcultar {
  0%   {bottom:0;}
  100% {bottom:-42em;display: none;}
}
@keyframes cascadaOcultar {
   0%   {bottom:0;}
  100% {bottom:-42em;display: none;}
}
.cascadaVisible{ 
  top: 0;    
  -webkit-animation-name: cascadaMostrar;
  -webkit-animation-duration: 2s;
  animation-name: cascadaMostrar;
  animation-duration: 2s;
}
@-webkit-keyframes cascadaMostrar {
  0%   {top:-42em;}
  100% {top:0;}
}
@keyframes cascadaMostrar {
  0%   {top:-42em;}
  100% {top:0;}
}

#rockleft,#rockright{
    width: auto;
    height: 100%;
    position: absolute;
    z-index: 120; 
}

.rockLoculto{
    left: -40em;
    -webkit-animation-name: LOcultar;
    -webkit-animation-duration: 1s;
    animation-name: LOcultar;
    animation-duration: 1s;
}
@-webkit-keyframes LOcultar {
  0%   {left:0;}
  100% {left:-40em;display: none}
}
@keyframes LOcultar {
   0%   {left:0;}
  100% {left:-40em;display: none}
}
.rockLvisible{ 
  left: 0;    
  -webkit-animation-name: LMostrar;
  -webkit-animation-duration: 1s;
  animation-name: LMostrar;
  animation-duration: 1s;
}
@-webkit-keyframes LMostrar {
  0%   {left:-40em;}
  100% {left:0;}
}
@keyframes LMostrar {
  0%   {left:-40em;}
  100% {left:0;}
}

.rockRoculto{
    right: -40em;
    -webkit-animation-name: ROcultar;
    -webkit-animation-duration: 1s;
    animation-name: ROcultar;
    animation-duration: 1s;
}
@-webkit-keyframes ROcultar {
  0%   {right:0;}
  100% {right:-40em;display: none}
}
@keyframes ROcultar {
   0%   {right:0;}
  100% {right:-40em;display: none}
}
.rockRvisible{   
  right: 0;    
  -webkit-animation-name: RMostrar;
  -webkit-animation-duration: 1s;
  animation-name: RMostrar;
  animation-duration: 1s;
}
@-webkit-keyframes RMostrar {
  0%   {right:-40em;}
  100% {right:0;}
}
@keyframes RMostrar {
  0%   {right:-40em;}
  100% {right:0;}
}