*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}
html,body
	{
	height:100%;  
}
#headerTablero{
  width: 100%;
  height: 74px;
  background-color: #328c20;
}
#tituloGame{
    position: absolute;
    top:0;
    left: 0; 
    padding: .5em;
    font-size: 30px;
    color: white;
    background-color:rgb(0,138,230);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-shadow: none;
}
#tablero{
    background-color: rgb(50,140,32);
    width: 100%;
    height: 100%;
    position: inherit;
}
#svg8{
    position: inherit;
    top:0;
    left:0;
    width: 100%;
    height: auto;
}
           #cube{
				position: relative;
				width: 20%;
                height: 10px;
				z-index: 100;
                margin: auto;
				backface-visibility: visible;
				pointer-events: none;
				-webkit-transform-style: preserve-3d;
				-webkit-transform-origin: center center;
				-webkit-backface-visibility: visible;
				-webkit-transform: rotateX(10deg) rotateY(15deg);
				-webkit-transition: -webkit-transform 3s;
				-moz-transform-style: preserve-3d;
				-moz-transform-origin: center center;
				-moz-backface-visibility: visible;
				-moz-transform: rotateX(10deg) rotateY(15deg);
				-moz-transition: -moz-transform 3s;
			}
			
			.side{
				position: absolute;
				top: 0;
				left: 0;
				width: 60px;
				height: 60px;
				pointer-events: none;
				backface-visibility: visible;
				-webkit-transform-origin: center center;
				-webkit-backface-visibility: visible;
				-moz-transform-origin: center center;
				-moz-backface-visibility: visible;
			}
			
			.side *{
				pointer-events: none;
			}
			
			#cube .side:nth-child(1) {
				-webkit-transform: translateY(30px) rotateX(90deg);
				-moz-transform: translateY(30px) rotateX(90deg);
			}
			
			#cube .side:nth-child(2) {
				-webkit-transform: translateY(-30px) rotateX(-90deg);
				-moz-transform: translateY(-30px) rotateX(-90deg);
				
			}
		
			#cube .side:nth-child(3) {				
				-webkit-transform: translateX(30px) rotateY(-90deg);
				-moz-transform: translateX(30px) rotateY(-90deg);
				
			}
			
			#cube .side:nth-child(4) {				
				-webkit-transform: translateX(-30px) rotateY(-90deg);
				-moz-transform: translateX(-30px) rotateY(-90deg);
			}
			
			#cube .side:nth-child(5) {	
				-webkit-transform: translateZ(30px) rotateZ(90deg);
				-moz-transform: translateZ(30px) rotateZ(90deg);
			}
			
			#cube .side:nth-child(6) {			
				-webkit-transform: translateZ(-30px) rotateZ(0deg);
				-moz-transform: translateZ(-30px) rotateZ(0deg);
			}
#ballena,#cangrejo,#pulpo,#pez,#caracol{
    z-index: 1000;
}
.dadoOculto{
    display:none;
}
#fondoPregunta{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    text-align: center;
}
#fondoDado{
    width: 10em;
    height: 10em;
    top: 40%;
    position: fixed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0,0,0,.7);
    text-align: center;
}
#cajaDado{
    width: 60%;
    margin: auto;
}
#cerrar{
    background-color: red;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    margin-right: .25em;
    margin-top: .25em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    border-radius: 5px;
    padding: .25em;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#cerrar:hover{
    -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  cursor: pointer;
}

#cerrar:hover::after,botonRespuesta:hover::after {
    opacity: 1;
}
#cube-hitarea{
    position: absolute;
    bottom: 5.5em;
    left: 3em;
}
#dado{
    position: relative;
    margin: auto;
    margin-top: 3.5em;
    margin-left: 1em;
    width: 80%;
    height: 100px;
}
#dado:hover{
    cursor: pointer;
}
#pregunta{
    background-image: url(../ImagenesSVG/fondopregunta.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    height: 300px;
    padding: 1em;
}
#pregunta>h2,#cajaDado>h2{
    color:rgb(0, 38, 77);
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    margin-top: 1em;
    margin-bottom: .5em;
}
.preguntas{
    margin-top: 1em;
}
#infoPregunta{
    width: 100%;
    margin-bottom: .5em;
    margin-top: .5em;
    font-size: 15px;
}
.respuestas{
    display: inline-block;
    margin-top: 1em;
    padding: .25em;
    border-radius: 10px;
}
#res0{
    background-color: rgb(0, 153, 204);
}
#res1{
    background-color: rgb(77, 210, 255);
}
#botonA,#botonB{
    width: 8em;
    text-align: center;
    margin: 2em;
    margin-bottom: .5em;
    position: relative;
    display: inline-block;
    background-color: rgb(0, 153, 204);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    border-radius: 15px;
    padding: .25em;   
}
#botonA:hover,#botonB:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  cursor: pointer;
}
#botonB{
    background-color: rgb(77, 210, 255);
}
#resultadoP,#iconoP{
    position: fixed;
    top: 40%;
    left: 0%;
    width: 100%;
    height: auto;
    background-color: transparent;
    animation: 1.5s Zoom ease,1.5s Opacidad ease;
    text-align: center;
}
@keyframes Zoom{
    100% { transform: scale(1.5);};
}
@keyframes Opacidad{
    20%{opacity:1;}
    40%{opacity:.8;}
    60%{opacity:.6;}
    80%{opacity:.4;}
    100%{opacity:0;}
}
#textoCorrecto,#textoIncorrecto{
    color:rgb(26, 140, 255);
    font-size: 30px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-align: center;
}
#textoIncorrecto{
    color:rgb(255, 71, 26);
}
#iconoPregunta{
    width: 100px;
    height: 100px;
    background-color:rgb(255, 71, 26);
    border-radius: 50%;
    padding: 1.5em;
}
#ganador{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    z-index: 100;
}
#reiniciar{
    position: relative;
  display: inline-block;
  width: 100px;
  background-color: rgb(0,138,230);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  border-radius: 5px;
  padding: .5em;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-top: 1em;
}
#reiniciar::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  color: white;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#reiniciar:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  cursor: pointer;
  background-color: rgb(38, 77, 115);
}
#vistaTurno{
    position: fixed;
    top:0;
    background-color: rgb(0,138,230);
    padding: .25em;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 100;
}
#vistaTurno > svg {
    background-color: white;
    padding: .25em;
    border-radius: 40%;
}
#vistaTurno > h2{
    display: inline-block;
    margin-left: .5em;
}
#cajaFin{
    margin-top: 20%;
}
#cajaFin > h1 {
    color: white;
    margin-bottom: 1em;
    text-shadow: none;
}
#cajaFin > div > a >p {
    color: white;
}
#cajaFin > div > a{
    text-align: center;
   text-decoration: none; 
}
#botonDado{
    width: 1em;
    height: 10em;
    position: fixed;
    right: 0;
    top: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0,0,0,.7);
    text-align: center;
}
#botonDado:hover{
    cursor: pointer;
    background-color: rgba(38, 77, 115,.7);
}
.oculto{
  right: -20em;
  -webkit-animation-name: ocultar;
  -webkit-animation-duration: 1s;
  animation-name: ocultar;
  animation-duration: 1s;
}
@-webkit-keyframes ocultar {
  0%   {right:0;}
  100% {right:-20em;display: none;}
}
@keyframes ocultar {
  0%   {right:0;}
  100% {right:-20em;display: none;}
}
.visible{
  right: 0;    
  -webkit-animation-name: mostrar;
  -webkit-animation-duration: 1s;
  animation-name: mostrar;
  animation-duration: 1s;
}
@-webkit-keyframes mostrar {
  0%   {right:-20em;display: block;}
  100% {right:0;}
}
@keyframes mostrar {
  0%   {right:-20em;display: block;}
  100% {right:0;}
}
.c-angularleft {
    width: 12px;
    height: 20px;
    margin: 7px 11px;
}

   .c-angularleft:before {
        top: 0;
        transform: rotate(45deg);

}
    .c-angularleft:after {
        top: 2px;
        transform: rotate(-45deg);

}
.c-angularleft:before, .c-angularleft:after {
        content: '';
        width: 16px;
        height: 3px;
        position: absolute;
        bottom: 0;
        margin: auto 0;
        right: -2px;
        box-shadow: inset 0 0 0 32px ;
        transform-origin: left;
        color: white;

}
@media (max-width: 700px) { 
    
    #tituloGame {
        padding: .25em;
        font-size: 25px;
    }
    
    
    #vistaTurno > h2 {
        font-size: 20px;
    }
    #clon{
        width: 35px;
        height: 35px;
    }


}