*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}
#pag2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height:100%;
    background-image: url(../ImagenesSVG/fondoAgua.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#seleccionPartida{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
#campoNroJugadores, #campoDificultad{
    width: 80%;
    height: 25%;
    margin: auto;
    position: relative;
}
#botonSiguiente,#botonSelect{
  position: relative;
  display: inline-block;
  width: 100px;
  background-color: rgb(0,138,230);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  border-radius: 5px;
  padding: .5em;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-top: 1em;
}
#botonSiguiente::after,#botonSelect::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  color: white;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#botonSiguiente:hover,#botonSelect:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  cursor: pointer;
  background-color: rgb(38, 77, 115);
}

#botonSiguiente:hover::after,#botonSelect:hover::after {
    opacity: 1;
}
#etapa1{
    text-align: center;
}
#seleccionPartida h2{
    color: black;
    font-size: 30px;
    margin: .25em;
}
#nroPlayers,#nroDificultad{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    margin: auto;
    border: 2px solid rgb(36, 71, 143);
    border-radius: 10px;
    background-color: rgba(36, 71, 143, .6);
    padding-top: .5em;
}
.elegido{
    z-index: 100;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.equipos,.dificultad{
    width: 15%;
    height: 10em;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin: 2%;
    background-color: transparent;
    border: 4px solid darkblue;
    position: relative;
}
.equipos > p,.dificultad > p{
    font-size: 40px;
    color: white;
    height: 100%;
    padding-top: 1em;
}
.equipos:hover,.dificultad:hover{
    cursor: pointer; 
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.dificultad{
    width: 20%;
    margin: 2%;
}
.icono-reset{
    position: absolute;
    top:0;
    right: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-left-color: transparent;
    margin-top: .25em;
    margin-right: 2em;
    content: '';
    z-index: 90;
    color: white;
    }

.icono-reset:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: -7px;
        bottom: 0;
        border-width: 6px;
        border-style: solid;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        transform: rotate(135deg);
}
.icono-reset:hover{
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    cursor: pointer;
}
.sombra,#mensajeError{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
}
#mensajeError{
    z-index: 100;
}
#mensajeError > #cerrar{
    text-align: center;
    margin: 1em;
}
#mensajeError > h1 {
    color: rgb(255, 71, 26);
    margin-top: 4em;
    text-shadow: none;
}
/*etapa2*/
#etapa2{
    text-align: center;
}
#botonSelect{
    margin-top: 4em;
}
#selectJugador{
    margin-top: .5em;
    font-size: 35px;
}
#nombreJugador{
    margin-left: .5em;
    border-radius: 10px;
}
#inputNombre{
    text-align: center;
    margin-top:2em;
    margin-bottom: 2em;
}
#inputNombre > label{
    font-size: 20px;
}
#contenedorAvatares{
    padding: .5em;
    margin: auto;
    width: 90%;
    height: 240px;
    position: relative;
    border: 2px solid rgb(20, 36, 119);
    border-radius: 5px;
    background-color: rgba(20, 36, 119,0.6);
}
.cajaAvatar{
    display: inline-block;
    width: 15%;
    height: 95%;
    margin: .5em;
    padding: .25em;
    border: 4px solid rgb(16, 10, 111);
    border-radius: 10px;
    position: relative;
}
.cajaAvatar:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.avatarElegido{
    z-index: 100;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}
.personajes{
    width: 100%;
    height: 100%;
}
@media (max-width: 700px) { 
    
    .equipos, .dificultad{
        height: 100px;
    }
    .equipos > p, .dificultad > p{
    font-size: 30px;
    padding-top: .7em;    
    }
    
    #seleccionPartida h2 {
        font-size: 25px;
    }
    
    #botonSelect, #botonSiguiente{
        margin-top: .5em;
        margin-bottom: .5em;
    }
    
    .icono-reset{
        margin-right: .5em;
    }
    
    #selectJugador{
        margin-top: .25em;
        font-size: 25px;
    }
    
    #contenedorAvatares {
        height: 160px;
    }
    
}